<div class="box1">
    <div>
    <%= button_to "Team Members", leaves_path, method: :get,class:"lpcontainer" %>
    </div>
    <div>
    <%= button_to "Projects", holidays_path, method: :get,class:"lpcontainer" %>
    </div>
    <div>
    <%= button_to "Leave Approval/Proxy Leave", employees_path, method: :get,class:"lpcontainer" %>
    </div>
    <div>
    <%= button_to "Attendance Correction", designations_path, method: :get,class:"lpcontainer" %>
    </div>

</div>