<div class="box1">
    
    <%= button_to "DashBoard", landingpage_path, method: :get, class:"lpcontainer"%>
    
    <%= button_to "Leaves", leavespage_path, method: :get, class:"lpcontainer"%>

    <%= button_to "Attendance", attendance_path, method: :get, class:"lpcontainer"%>

    <%= button_to "settings", employee_details_path, method: :get, class:"lpcontainer"%>
    
</div>