
<div class = "mainpage">

    
    <div class="index">
        
    </div>

    <h1 class="mt-3">A Delightful Experience on Your Way!!</h1>

    <p>
        Delight your employees with an innate user experience through our HRMS that piques their curiosity to instantly adopt the platform.
    </p>
</div>

