<div class="d-flex flex-row"> 

<%= render "home/options" %>

<div class="box2 d-flex flex-column">
        <div class="graphcontainer">
        
         <%= column_chart [["2021-01-01", 2], ["2021-01-02", 3],["2021-01-03", 4], ["2021-01-04", 5],["2021-01-05", 6], ["2021-01-06", 7],["2021-01-07", 8]], height: "216px" %>
        </div>
        <div class="attbutton">
            <p class="text-center">Attendance Details</p>
        </div>

        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
            <div class="twocontainer">
           
            </div>
            <div class="attbutton1">
            <p class="text-center">Upcoming Leaves</p>
            </div>
            </div>
            
            <div class="d-flex flex-column">
            <div class="twocontainer">
            
            </div>
            <div class="attbutton1">
            <p class="text-center">Upcoming Holidays</p>
            </div>
            </div>
        </div>
</div>
</div>