<div class="d-flex flex-row">
<%= render "home/options" %>

<div class="d-flex flex-column">
<div class="attnumcontainer d-flex flex-row">
    <div class="leavebox">
        <p></p>
        <div class="leavetext">Total Leaves</div>
    </div>
        
    <div>
        <p></p>
        <div class="leavetext">Applied Leaves</div>
    </div>

    <div>
        <p></p>
        <div class="leavetext">Remaining leaves</div>
    </div>
</div>


<div class="d-flex flex-row">
    <div class="leavecontainer">
    <h1> APPLY LEAVE </h1>

    <%= render "home/leaveform" %>

</div>
</div>
</div>